
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>失物招领</title>
<link href="http://localhost/tp5/public/static/index/style/css.css" rel="stylesheet" type="text/css">
<script
	src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

<script
	src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="fram">
<div class="header"><img src="http://localhost/tp5/public/static/index/imags/whxylogo.png" width="337" height="90" /></div>
<div class="conent">
<div class="news"> 失物招领信息</div>
 <ul>
<div class="libox">
  <li><div style="float:left; margin:5px 15px 0 5px;" ><img src="http://localhost/tp5/public/static/index/imags/1.jpg" style="width: 60px; height: 60px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 5px solid rgb(255, 255, 255); display: inline;" />
   </div>
    <span class="date">2018-04-17</span><a>物品地点1</a></li>
    <div style="height:50px"><span class="a">
信息类型：失物招领&nbsp;&nbsp;&nbsp;&nbsp;发布者：同学1<br>
发布时间： &nbsp;&nbsp;&nbsp;拾取地点：教室1</span></div> 
</div>
<div class="libox">
  <li><div style="float:left; margin:5px 15px 0 5px;" ><img src="http://localhost/tp5/public/static/index/imags/2.jpg" style="width: 60px; height: 60px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 5px solid rgb(255, 255, 255); display: inline;" />
   </div>
    <span class="date">2018-04-16</span><a>物品地点2</a></li>
    <div style="height:50px"><span class="a">
信息类型：失物招领&nbsp;&nbsp;&nbsp;&nbsp;发布者：同学2<br>
发布时间：04-16 &nbsp;&nbsp;&nbsp;拾取地点：教室2</span></div> 
</div>
<div class="libox">
  <li><div style="float:left; margin:5px 15px 0 5px;" ><img src="http://localhost/tp5/public/static/index/imags/3.jpg" style="width: 60px; height: 60px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 5px solid rgb(255, 255, 255); display: inline;" />
   </div>
    <span class="date">2018-04-15</span><a>物品地点3</a></li>
    <div style="height:50px"><span class="a">
信息类型：失物招领&nbsp;&nbsp;&nbsp;&nbsp;发布者：同学3<br>
发布时间：04-15&nbsp;&nbsp;&nbsp;&nbsp;拾取地点：教室2</span></div> 
</div>
<div class="libox">
  <li><div style="float:left; margin:5px 15px 0 5px;" ><img src="http://localhost/tp5/public/static/index/imags/4.jpg" style="width: 60px; height:60px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 5px solid rgb(255, 255, 255); display: inline;" />
   </div>
    <span class="date">2018-04-14</span><a>物品地点4</a></li>
    <div style="height:50px"><span class="a">
信息类型：失物招领&nbsp;&nbsp;&nbsp;&nbsp;发布者：同学4<br>
发布时间：04-14&nbsp;&nbsp;&nbsp;&nbsp;拾取地点：教室2</span></div> 
</div>
<div class="libox">
  <li><div style="float:left; margin:5px 15px 0 5px;" ><img src="http://localhost/tp5/public/static/index/imags/5.jpg" style="width: 90px; height: 90px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 5px solid rgb(255, 255, 255); display: inline;" />
   </div>
    <span class="date">2018-04-13</span><a>物品地点5</a></li>
    <div style="height:50px"><span class="a">
信息类型：失物招领&nbsp;&nbsp;&nbsp;&nbsp;发布者：同学5<br>
发布时间：04-13&nbsp;&nbsp;&nbsp;&nbsp;拾取地点：教室2</span></div> 
</div>
 </ul>
 <p>&nbsp;</p>
  
</div>
<div class="foot">
<p>&nbsp; &nbsp;&nbsp;版权所有 武汉学院会计及金融学院 地址：湖北省武汉市江夏区黄家湖大道333号 邮政编码：43021 &nbsp;联系电话：027-81297083 &nbsp;鄂ICP备10014564号  &nbsp; &nbsp;</p
></div>
</div>
</body>
</html>